:root {
  --color-white:#ffffff;
  --color-white-smoke: #f5f5f5;
  --color-black: #000000;
  --color-black-eerie-high: #171717;
  --color-black-eerie-low: #202020;
  --color-green-kelly: #27b922;

  --home-background-color: var(--color-white-smoke);
  --home-text-color: var(--color-black-eerie-high);

  --icon-color: var(--color-black);

  --popup-background-color: var(--color-white-smoke);
  --popup-text-color: var(--color-black-eerie-high);
  --popup-button-color: var(--color-white);

  --form-button-gradient-first: #dfd9d9;
  --form-button-gradient-second: var(--color-white);
  --form-button-shadow: #645d5d;
  --form-button-icon-color: var(--color-white);
  --form-button-icon-border: var(--color-green-kelly);
  --form-button-border: var(--color-white);

  --form-input-shadow: #b9b3b3;
  --form-input-color: var(--color-white);
  --form-input-text: #887f7f;

  --pin-background-head-color: var(--color-white-smoke);
  --pin-background-foot-color: var(--color-white);

  --pin-image-shadow: #cfc8c8;

  --pin-button-hover: #e7e6e6;
  --pin-button-text: var(--color-green-kelly);

  --pin-circle-color-pin: #d7d7e1;
  --pin-circle-color-pined: #ff732d;

  --pin-forgot-color: #bebec4;

  --sort-background-color: var(--color-white-smoke);
  --sort-background-btm-color: var(--color-white);

  --sort-section-btm-shadow: #cfc8c8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --home-background-color: var(--color-black-eerie-low);
    --home-text-color: #ededed;

    --background-back: #0a0a0a;

    --icon-color: var(--color-white);

    --popup-background-color: var(--color-black-eerie-low);
    --popup-text-color: #ededed;
    --popup-button-color: var(--color-black);

    --form-button-gradient-first: #111111;
    --form-button-gradient-second: #3b3737;
    --form-button-shadow: #5a5656;
    --form-button-icon-color: #1f1d1d;
    --form-button-border: var(--color-black);

    --form-input-shadow: #242020;
    --form-input-color: #353131;
    --form-input-text: #998b8b;

    --pin-background-head-color: var(--color-black-eerie-low);
    --pin-background-foot-color: #3b3737;

    --pin-image-shadow: #666060;
    --pin-button-hover: #2e2c2c;

    --sort-background-color: var(--color-black-eerie-low);
    --sort-background-btm-color: #3b3737;

    --sort-section-btm-shadow: #666060;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mitr', sans-serif;
}

button,
input,
placeholder {
  font-family: 'Mitr', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--home-text-color);
  background: var(--home-background-color);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

main {
  max-width: 48rem;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
