.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
}

.popup {
  display: flex;
  background: var(--popup-background-color);
  color: var(--popup-text-color);
  border-radius: 8px;
  max-width: 48rem;
  border: 2px solid transparent;
  width: 20rem;
  height: 80%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.closeButton {
  display: flex;
  justify-content: center;
  padding: 1px;
  background-color: var(--popup-button-color);
  border: 4px solid transparent;
  border-radius: 100%;
  position: absolute;
  top: 70px;
  left: 20px;
  cursor: pointer;
  align-items: center;
  transition: var(--popup-button-color) 0.3s ease, color 0.3s ease;
}

.closeButton:hover {
  opacity: 0.7;
}

.transparent {
  background-color: transparent;
}
